body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

canvas {
    border: 1px solid #000;
}
.controls {
    text-align: center;
    margin-top: 20px;
}

.controls button {
    width: 60px;
    height: 60px;
    font-size: 18px;
    margin: 5px;
}
.speed-control {
    text-align: center;
    margin-top: 10px;
}

.speed-control input {
    width: 200px;
}
